
.header1{
    text-align: center;
}

.titulo1{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
}

.img1{
    float: left;
}

.texto1{
    float: left;
    margin-left: 15px;
}

.texto2{
    font-size: 40px;
    float: right;
    margin-right: 100px;
}

.iconocarrito{
    width: 1px;
    height: 1px;
} 

#formulario1{
    margin-left: 500px;
}

#imagen1{
    text-align: center;
}

