
{%load static%}
 

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/estilopaginaPerros.css'%}">
    <title>Juguete</title>
</head>
<body>
    <div class="container1">
        <div class="header1">
            <div class="logo">
                <a href="{%url 'home'%}"><img src="{%static 'images/img/logo.jpg'%}" alt="LOGO MascotasのAdo"></a>
            </div>
        </div>
            <div class="principal1">
                <div class="titulo1" >
                <h1>  の J U G U E T E の</h1>
                </div>
                <div class="img1">
            <img src="{%static 'images/img/perroJuguete.jpg'%}" alt="perroJuguete">
                </div>
                <div class="texto1">
            <h1> Juguetes </h1>
            <br>
            <h2> Descripcion:</h2>
            <br>
            <h3> Juguetes para los dientes de perro </h3>
            <br>
            <h3> - Material: 100% Plastico </h3>
            <br><br>
                </div>
                <div class="texto2">
                    <h1> $ 2.990 </h1>
                    <p> Agregar al carrito </p>
                    <div class="iconocarrito">
                        <img src="{%static 'images/icons/iconoCarro.jpg'%}" alt="carro" />
                    </div>
                </div>
            </div>
    </div>
</body>
</html>